{% extends 'base.html' %}

{% block title %}
    Изменить
{% endblock %}

{% block menu %}
    <li class="nav-item">
        <a href="{% url 'product_view' product.pk %}" class="nav-link">Подробнее</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'delete_view' product.pk %}" class="nav-link">Удалить</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Изменить продукт</h1>
    <form action="{% url 'update_view' product.pk %}" method="post">
        {% include 'partial/product_form.html' with button_text='Обновить' %}
    </form>
{% endblock %}
